body{
    background: rgba(25, 32, 169, 0.542);
    
    
}
header{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
section{
    width: 400px;
    max-height: max-content;
    background: white;
    border-radius: 5px 5px 5px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.497);
    padding: 8px;

}
footer{
    text-align: center;
    color: white;
}

